name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Hello! This is your first issue. Note that we respect everyone who writes in here"
        pr-message: "Hello, contributor! This is your first Pull Request. Note that we respect everyone who writes in here"
